@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    margin: 0;
  }

  html,
  body {
    font-family:
      'SF Pro TC',
      'SF Pro Display',
      'SF Pro Icons',
      'PingFang TC',
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      'Noto Sans TC',
      sans-serif;
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 400;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
  }
}

@layer components {
  .header-eyebrow {
    display: inline-block;
    background: #1d1d1f;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(90deg, #304cca, #2596d6 33.33%, #304cca 70%);
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    text-fill-color: rgba(0, 0, 0, 0);
    background-size: 300% auto;


    font-size: 21px;
    font-weight: 600;
    line-height: 1.3334033333;
  }
}